/* Elements communs à toutes les pages */

@font-face {
  font-family: Gravity;
  src: url(fonts/Gravity-Regular.otf);
}

body {
  font-family: Gravity;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Mise en forme du header : début */

header {
  background-color: none;
  border-style: none;
  border-bottom: 2px black solid;
  height: 80px;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 40px;
  font-weight: bolder;
  margin: 2vh 5%;
  width: 37%;
}

header nav {
  margin-right: 5%;
  width: 95%;
}

header nav ul {
  list-style: none;
  text-align: center;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  display: block;
  padding: 1vh 25px;
  text-decoration: none;
  color: #989898;
  font-size: 18px;
  margin: 0 10px;
}

header nav ul li a,
header nav ul li a:after,
header nav ul li a:before {
  transition: all 0.5s;
}

header nav ul li a:hover {
  color: rgb(0, 0, 0);
}

/* Fin de la mise en forme du header */

/* Mise en forme du footer */

/* Section contact */

footer {
  background-color: none;
  border-style: none;
  border-top: 2px black solid;
  width: 95%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

#contact {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#contact h2 {
  font-size: 25px;
  font-weight: bolder;
  margin: 3%;
}

#contact ul {
  list-style: none;
  text-align: center;
}

#contact ul li {
  display: inline-block;
}

#contact ul li a {
  display: block;
  padding: 5% 10px;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  margin: 0 10px;
}

/* Section réseaux */

#reseaux ul {
  list-style: none;
  text-align: center;
}

#reseaux ul li {
  display: inline-block;
}

#reseaux ul li a {
  display: block;
  padding: 0px 40px;
  margin: 0px;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  margin: 0 10px;
}

/* Fin de la mise en forme du footer */

/* Mise en forme du main */

/* Mise en forme des input de connexion */

#main_connexion {
  height: 60%;
  width: 60%;
  background-color: #a3a3a3;
  display: flex;
  flex-direction: column;
  animation: fadein 1500ms linear forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#main_connexion h2 {
  font-size: 50px;
  font-weight: lighter;
  margin: 20px 10%;
  color: #ffffff;
}

#main_connexion form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  height: 40%;
}

/* Input communs à toutes les pages */

#main_connexion .input_group {
  border: 2px solid #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

#main_connexion .input_label {
  font-family: Gravity;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  color: #ffffff;
}

#main_connexion .input_field {
  font-family: Gravity;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  border: none;
  height: 20px;
  flex-grow: 1;
  color: #ffffff;
}

#main_connexion .input_field:focus {
  outline: none;
  background-color: transparent;
}

/* Fin de la section inputs communs */

#connexion {
  height: 50px;
  width: 160px;
  font-family: Gravity;
  font-size: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 6px;
  position: relative;
}

#connexion:hover {
  background-color: #777777;
  color: white;
  border: 2px solid #ffffff;
  border-radius: 6px;
  transition: 300ms;
}

#connexion:focus {
  outline: #ffffff;
  height: 50px;
  width: 152px;
}

/* Fin de la mise en forme de inputs de connexion */

/* Mise en forme des boutons de redirection */

#main_connexion section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 30px;
  align-items: center;
}

/* Mise en forme des boutons de redirection inspirée de https://www.w3schools.com/howto/howto_css_flip_card.asp */

/* Contient le bouton et les deux faces (recto/verso) */
.conteneur_bouton {
  background-color: transparent;
  width: 270px;
  height: 45px;
  border: 2px solid #f1f1f1;
  border-radius: 6px;
}

/* Contient les deux faces (recto/verso) */
.bouton {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Permet de faire en sorte que le bouton fait un flip dans le conteneur */
.conteneur_bouton:hover .bouton {
  transform: rotateY(180deg);
}

/* Postitionne le recto et le verso */
.recto_bouton,
.verso_bouton {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style de la face verso */
.recto_bouton {
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Gravity;
  font-size: 18px;
}

/* Style de la face recto */
.verso_bouton {
  background-color: #777777;
  border-radius: 5px;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Gravity;
  font-size: 18px;
}
.verso_bouton a {
  text-decoration: none;
  color: white;
}

/* Mise en forme de la page inscription */

main#main_inscription {
  width: 80vw;
  margin: 40px;
  background-color: #a3a3a3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  animation: fadein 1500ms linear forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form#form_inscription {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#main_inscription h2 {
  font-size: 50px;
  font-weight: lighter;
  margin: 20px 10%;
  color: #ffffff;
}

#main_inscription p {
  font-size: 25px;
  font-weight: lighter;
  text-align: center;
  color: #ffffff;
}

#information_inscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 70vw;
  padding: 0;
  margin: 20px;
}

/* Mise en forme du mail */

#inputmail-inscription {
  border: 2px #ffffff;
  margin: 0 20%;
  border-style: solid;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#inputmail-inscription .input_label {
  font-family: Gravity;
  font-size: 16px;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  color: #ffffff;
}

#inputmail-inscription .input_field {
  font-family: Gravity;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  border: none;
  height: 20px;
  flex-grow: 1;
  color: #ffffff;
}

#inputmail-inscription .input_field:focus {
  outline: none;
  background-color: transparent;
}

#inputmail-inscription .input_field::placeholder {
  color: #ffffffab;
}

/* Mise en forme des logs */

#logs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0;
  width: 100%;
}

#userlogin {
  border: 2px #ffffff;
  margin: 0;
  border-style: solid;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  width: 45%;
}

#userlogin .input_label {
  font-family: Gravity;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  color: #ffffff;
}

#userlogin .input_field {
  font-family: Gravity;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  border: none;
  height: 20px;
  flex-grow: 1;
  color: #ffffff;
}

#userlogin .input_field focus {
  outline: none;
  background-color: transparent;
}

#userlogin .input_field ::placeholder {
  color: #ffffffe7;
}

/* Mise en forme mdp et confirmation mdp */

#password {
  margin-top: 60px;
  margin-right: 5px;
  width: 45%;
  display: flex;
  flex-direction: column;
}

/* Mise en forme mot de passe */

div#newpwd {
  border: 2px #ffffff;
  border-style: solid;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 100%;
  height: max-content;
}

#newpwd .input_label {
  font-family: Gravity;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  color: #ffffff;
}

#newpwd .input_field {
  font-family: Gravity;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  border: none;
  height: 20px;
  width: 70%;
  color: #ffffff;
}

#newpwd .input_field:focus {
  outline: none;
  background-color: transparent;
}

#newpwd .input_field ::placeholder {
  color: #ffffffe7;
}

/* Mise en forme confirmation mot de passe */

div#confirmpwd {
  border: 2px #ffffff;
  margin-top: 20px;
  border-style: solid;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 100%;
  height: max-content;
}

#confirmpwd .input_label {
  font-family: Gravity;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  color: #ffffff;
}

#confirmpwd .input_field {
  font-family: Gravity;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  border: none;
  height: 20px;
  width: 70%;
  color: #ffffff;
}

#confirmpwd .input_field:focus {
  outline: none;
  background-color: transparent;
}

#confirmpwd .input_field ::placeholder {
  color: #ffffffe7;
}

/* Mise en forme information perso (prénom + nom + date de naissance + genre + niveau d'étude */

section#information_personnelle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  width: 89%;
}

#information_personnelle .input_group {
  border: 2px #ffffff;
  border-style: solid;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: max-content;
  margin: 15px;
}

#information_personnelle .input_label {
  font-family: Gravity;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  color: #ffffff;
}

#user_lastname {
  font-family: Gravity;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  border: none;
  height: 20px;
  flex-grow: 1;
  color: #ffffff;
}

#user_lastname:focus {
  outline: none;
  background-color: transparent;
}

#user_lastname::placeholder {
  color: #ffffffe7;
}

#user_firstname {
  font-family: Gravity;
  background-color: transparent;
  padding: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 5px;
  border: none;
  height: 20px;
  flex-grow: 1;
  color: #ffffff;
}

#user_firstname:focus {
  outline: none;
  background-color: transparent;
}

#user_firstname::placeholder {
  color: #ffffffe7;
}

#user_birthdate {
  font-family: Gravity;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  border: none;
  height: 20px;
  flex-grow: 1;
  color: #ffffff;
}

#user_birthdate:focus {
  outline: none;
  background-color: #a3a3a3;
}

#user_birthdate::placeholder {
  color: #ffffffe7;
}

#user_gender {
  font-family: Gravity;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  border: none;
  height: 20px;
  flex-grow: 1;
  color: #ffffff;
}

#user_gender:focus {
  outline: none;
  background-color: #a3a3a3;
}

#user_gender::placeholder {
  color: #ffffffe7;
}

#niveau_etude.input_group {
  border: 2px #ffffff;
  border-style: solid;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  flex-grow: 0.4;
  height: max-content;
  margin-left: 25%;
}

#user_studylvl {
  font-family: Gravity;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  border: none;
  height: 20px;
  flex-grow: 1;
  color: #ffffff;
}

#user_studylvl:focus {
  outline: none;
  background-color: #a3a3a3;
}

#user_studylvl::placeholder {
  color: #ffffff;
}

/* Mise en forme infos-complémentaires (présentation + hobbies) */

section#informations_complementaires {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 200px;
  padding: 5px; /* Penser à le retirer éventuellement après */
  margin: 20px;
}

#presentation_utilisateur {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#presentation_utilisateur label {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}

#presentation_utilisateur > textarea {
  resize: none;
  font-family: Gravity;
  font-size: 18px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #ffffff;
  padding: 10px;
  color: #ffffff;
}

#presentation_utilisateur > textarea:focus {
  outline: none;
  background-color: transparent;
}

#presentation_utilisateur > textarea::placeholder {
  color: #ffffffab;
}

#user_hobbies {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  /* background-  color: green; */
  width: 100%;
}

#user_hobbies p {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}

#user_hobbies > #hobbies_choicies {
  width: 75%;
  height: 60%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}

.grp_hobbies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.grp_hobbies label {
  font-size: 18px;
  color: #ffffff;
}

/* Mise en forme bouton enregistrer */

#enregistrer {
  height: 50px;
  width: 160px;
  font-family: Gravity;
  font-size: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 6px;
  margin: 30px;
  position: fix;
}

#enregistrer:hover {
  background-color: #777777;
  color: white;
  border: 2px solid #ffffff;
  border-radius: 6px;
  transition: 300ms;
}

#enregistrer:focus {
  outline: #ffffff;
  height: 50px;
  width: 152px;
}

/* Fin de la page inscription */

/* Mise en forme de la page de mot de passe oublié */

#main_motdepasse {
  height: 50%;
  width: 60%;
  background-color: #a3a3a3;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadein 1500ms linear forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#main_motdepasse h2 {
  font-size: 50px;
  font-weight: lighter;
  margin-top: 30px;
  margin-right: 120px;
  margin-bottom: 20px;
  color: #ffffff;
}

#main_motdepasse p {
  margin: 0px;
  font-size: 20px;
  width: 90%;
  text-align: justify;
  color: #ffffff;
  line-height: 2em;
}

#main_motdepasse form {
  width: 80%;
  height: 100px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

#inputmail {
  border: 2px solid #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#inputmail .input_label {
  font-family: Gravity;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  color: #ffffff;
}

#inputmail .input_field {
  font-family: Gravity;
  font-size: 16px;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  border: none;
  height: 20px;
  flex-grow: 1;
  color: #ffffff;
}

#inputmail .input_field:focus {
  outline: none;
  background-color: transparent;
}

#inputmail .input_field::placeholder {
  color: #ffffffab;
}

#envoyer {
  height: 50px;
  width: 160px;
  font-family: Gravity;
  font-size: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 6px;
  margin: 30px;
  position: fix;
}

#envoyer:hover {
  background-color: #777777;
  color: white;
  border: 2px solid #ffffff;
  border-radius: 6px;
  transition: 300ms;
}

#envoyer:focus {
  outline: #ffffff;
  height: 50px;
  width: 152px;
}
